.videos {
    padding-left: 4rem;
    h2 {
        padding: 2rem 0;
    }
    h5 {
        font-weight: $bold;
    }
    p {
        color: $gray;
    }
    .card {
        border: none;
    }
}

.card-img-top {
    height: 9.536rem;
}