.about {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    
    .coffe {
        float: left;
        position: relative;
        .content {
            display: block ruby;
            position: absolute;
            padding: 2rem;
            top: 308px;
            left: 400px;
            background-color: $white;
        }
    }
    .cafe {
        position: relative;
        float: left;
        width: 300px;
        padding: 2rem 3rem 0 3rem;
        font-family: $mono;
        h1 {
            font-size: $xxx-large;
            margin-bottom: 0;
        }
    }
    span {
        font-family: $roboto;
    }
    .arrow {
        display: inline-block;
        position: absolute;
        top: 280px;
        left: 880px;
        padding: 2.5rem;
        background-color: $red;
        color: $white;
        z-index: 1;
    }
    .arrow1 {
        display: inline-block;
        position: absolute;
        top: 295px;
        left: 900px;
        padding: 2.5rem;
        background-color: $buff;
        color: $white;
    }
}