$white: #fff;
$isabeline: #eeeded;
$gray: #989797;
$coral: #fa824c;
$buff: #f1dd7b;
$vanilla: #f5e7a1;
$flame: #e4572e;
$red: #e87554;
$pink: #f2b2a0;
$shiny: #4ca866;
$green: #9dcfab;
$pastel: #bddfc7;
$france: #3c91e6;
$jean: #5fa5ea;
$blue: #82b9ef;
$black: #000;
$outer: #454545;
$silver: #a2a2a2;

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;