
$white: #fff;
$platinum: #e6e7e7;
$gray: #d1d1d1;
$wuzzy: #e56353;
$pink: #d76c69;
$spanish: #ecbcba;
$erie: #121619;
$raisin: #222323;
$nickel: #6c6e70;


$roboto: 'Roboto', sans-serif;
$play-fair: 'Playfair Display', serif;
$itali: italic;

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;


$bold: 900;
$play: 400;
$regular: 400;
$light: 300;