/*colores blancos*/

$white: #fff;
$platinum: #e8e8e8;
$gray: #bababa;

/*colores rojos*/

$salmon: #ee9480;
$melon: #f4baae;
$pink: #fadfda;

/*colores azules*/

$blue: #2ab7ca;
$middle: #77dadd;
$lagoon: #b1e4eb;

/*colores oscuros*/

$onyx: #333745;
$spanish: #8f9199;
$lavender: #c7c8cc;

/*colores dark*/

$black: #221d23;
$nickel: #726f73;
$silver: #aeacaf;

/*fonts sizes*/

$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

/*font weight*/

$reg: 400;
$bold: 700;