.study {
    font-family: $open;
    font-style: italic;
    @include h;
}

@media (min-width: 375px) {
    .card {
        margin-bottom: 1rem;
    }
}

.card:hover {
    box-shadow: -8px 32px 21px -3px;
}