.contact {
    color: $white;
    background-color: $grey;
    text-align: center;
    a {
        color: $platine;
        &:hover {
            color: $blue;
            transition: .5s ease;
        }
    }
}