.btn-login {
    background: $white;
    color: $silver;
    font-size: $large;
    margin-right: 1rem;
}

.btn-register {
    background: $shiny;
    color: $isabeline;
    font-size: $large;
    border-color: $shiny;
}
